/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
	padding: 0;
}
button {
	background: white;
	padding: 7px;
	border: 1px solid #ACACAC;
	cursor: pointer;
}
button:hover {
	border-color: #000;
}
button:active {
	background: #eee;
}
button.small_button {
	padding: 2px 5px;
	font-size: 10px;
}
.sign_out {
	color: white;
	float: right;
	font-family: sans-serif;
}
.sign_out:hover{
	color: red;
}
.notice {
	display: block;
	cursor: pointer;
	padding: 5px;
	background: #F1FFED;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom-color: #888;
	font-family: sans-serif;
	color: #678A41;
	text-shadow: 1px 1px #DFFFF5;
}
.alert {
	display: block;
	cursor: pointer;
	padding: 5px;
	background: #FFF1ED;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom-color: #888;
	font-family: sans-serif;
	color: #8A4141;
	text-shadow: 1px 1px #FFF3DF;
}