.contact_show {
	font-family: sans-serif;
	button {
		margin: 2px 0 10px;
	}
	.edit {
		margin-left: 10px;
	}
	h1 {
		text-transform: uppercase;
		color: #ACACAC;
		font-weight: normal;
		font-size: 15px;
		padding: 5px 10px;
	}
	h2 {
		text-transform: uppercase;
		color: #947C7C;
		padding: 0 10px 10px;
		font-size: 22px;
		font-weight: normal;
	}
	h3 {
		padding: 5px 10px;
		font-size: 15px;
		color: #444;
	}
	span {
		color: #999;
	}
	span.group {
		background: #FAF8DD;
		border: 1px solid #8A7B41;
		font-weight: normal;
		font-size: 14px;
		padding: 1px 3px;
	}
}

.contact_new {
	div {
		padding: 5px 10px;
	}
	h1 {
		padding: 10px;
		font-family: Arial;
		font-weight: normal;
		font-size: 20px;
		color: #ACACAC;
	}
	label {
		padding: 1px 10px;
		font-size: 10px;
		color: #555;
	}
	input[type="text"] {
		border: 1px solid #777;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		font-size: 18px;
		padding: 2px 15px;
		width: 250px;
	}
	input[type="text"]:focus {
		outline: none;
		border-color: brown;
	}
	input[type="submit"] {
		font-family: Arial;
		font-weight: normal;
		font-size: 15px;
		padding: 3px 10px 2px;
		margin-top: 10px;
	}
}